body {
  background-color: #efefef;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  margin: 3rem;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #042c3b;
  text-align: center;
}

}

  display: inline-block;
}

}

/* iPhone SE - to prevent #big-height split over two lines
*/
@media (max-width: 320px) {
  }
}
