body {
  background-color: #efefef;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #042c3b;
  margin: 2rem;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.display-3 {
  margin-bottom: 1.5rem;
}

li {
  text-align: center;
}

.list-group {
  list-style-type: none;
  padding: 0;
}

.btn-primary {
  width: 30%;
  font-family: inherit;
  font-weight: 600;
  font-size: 26px;
  background-color: #3c5aa6;
  color: #ffde00;
  padding: 1rem 1.5rem;
  margin: 0.25rem auto;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  transition: opacity 0.4s;
}

.btn-primary:hover, .btn-primary:focus {
  cursor: pointer;
  opacity: 0.7;
}

.btn-primary:focus {
  outline: none;
}

/* #modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  /*comment: placeholder stylings*/
  /* position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); */

  /*comment: to show it above other content */
  /* z-index: 999; */

  /*comment: to allow scrolling if the screen is not high enough*/
  /* overflow: auto; */

  /*comment: this is used to center the modal */
  /* display: grid;
}

.modal {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #efefef;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0,0,0,0.4);
}

.modal-close {
  display: block;
  margin-left: auto;
  background-color: #042c3b;
  color: #efefef;
  border-radius: 5px;
  transition: opacity 0.4s;
}

.modal-close:hover, .modal-close:focus {
  cursor: pointer;
  opacity: 0.7;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon-name {
  grid-area: 1/1/1/3;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}

.pokemon-image-wrapper {
  grid-area: 2/1/2/1;
  width: 100%;
  margin: 0 auto;
}

.pokemon-image {
  width: 100%;
}

.non-image-elements {
  text-align: left;
  padding: 17% 0 17% 10%;
}*/

.detail-category {
  font-weight: 600;
}


/*@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  .button-standard {
    width: 90%;
    font-size: 18px;
    padding: 1rem 2rem;
  }

  .modal {
    max-width: 90%;
    padding: 5px;
  }

  .details-container {
    grid-template-columns: 1fr;
  }

  .pokemon-name {
    grid-area: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
  }

  .pokemon-image-wrapper {
    grid-area: auto;
    width: 60%;
  }

  .non-image-elements {
    line-height: 1;
    padding: 0 15% 0 25%;
  }
}

@media (min-width: 330px) and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }

  .button-standard {
    font-size: 20px;
  }

  .non-image-elements {
    padding-right: 0;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 34px;
  }

  .button-standard {
    width: 70%;
    font-size: 24px;
    padding: 1rem 2rem;
  }

  .pokemon-name {
    font-size: 30px;
  }

  .pokemon-image-wrapper {
    grid-area: auto;
    width: 60%;
  }

  .non-image-elements {
    line-height: 1.2;
    padding: 0 0 0 10%;
  }
} */
